/* Body y letras*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif; 
}

body {
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    background-attachment: fixed; 
    min-height: 100vh;
}

/*NAVBAR*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #0d0d0d;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5); 
}

/* 3. LOGO */
.logo-img {
    width: 40px;
    height: 40px;
    filter: invert(1);
    transition: transform 0.3s ease;
}

.logo-img:hover {
    transform: scale(1.1);
}

/*Links*/
.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-links a {
    text-decoration: none;
    color: #999; 
    font-size: 16px;
    font-weight: 500; 
    transition: all 0.3s ease;
    text-transform: capitalize; 
}

.nav-links a:hover {
    color: #fff;
    text-shadow: 
        0 0 5px rgba(255, 255, 255, 0.5),
        0 0 15px #00b7ff, 
        0 0 25px #00b7ff;    
    transform: translateY(-2px);
}

/*ICONOS SOCIALES*/
.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
}

.social-icons img {
    width: 20px;
    height: 20px;
    filter: invert(1); 
    opacity: 0.8;
    transition: 0.3s;
}

/*HOVER SOCIALES*/
.social-icons a:hover {
    background: #00b7ff;
    box-shadow: 0 0 10px #00b7ff, 
                0 0 40px #00b7ff, 
                0 0 80px #00b7ff;
    transform: scale(1.1);
}

.social-icons a:hover img {
    opacity: 1;
    filter: invert(0); 
}